<main class="main">
  <mat-toolbar>
    <mat-toolbar-row class="header">
      CICS Course Planner
    </mat-toolbar-row>
    <mat-toolbar-row class="navbar">
      <div class="menu">
        <button mat-button routerLink="/" class="navbar-button">
          Home
        </button>
        <button mat-button routerLink="/view-schedule" class="navbar-button">
          View Schedule
        </button>
        <button mat-button routerLink="/build-schedule" class="navbar-button">
          Build Schedule
        </button>
        <button mat-button routerLink="/courses" class="navbar-button">
          CICS Courses
        </button>
      </div>
      <div class="login-signup">
        <button mat-button routerLink="/login" class="navbar-button">
          Log In
        </button>
        <button mat-button routerLink="/signup" class="navbar-button">
          Sign Up 
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</main>