.main {
    display: flex;
    flex-direction: column;
}

.header {
    display:flex;
    justify-content: space-between;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #940a00;
    width:100%;
}

.navbar-button {
    color: white !important;
}



.menu button:hover,
.login-signup button:hover {
  background-color: rgba(0, 0, 0, 0.5); 
}

.login-signup {
    display:flex
}