<script src="https://accounts.google.com/gsi/client" async></script>
<div class="login">
    
    <mat-card class="login-card" >
        <div style="margin-top:10%;font-size:28px">
            Log in with your UMass Email!
        </div>
        <div class="login-content" style="align-self:center;align-items: center; margin-top:10%">
            <div id="g_id_onload"
                data-client_id="438786023266-rtoohi603g51ar38e7m5oc01l0b346u5.apps.googleusercontent.com"
                data-context="signin"
                data-ux_mode="popup"
                data-callback="handleOauthResponse"
                data-itp_support="true">
            </div>
        
            <div class="g_id_signin"
                data-type="standard"
                data-shape="rectangular"
                data-theme="filled_black"
                data-text="signin_with"
                data-size="large"
                data-logo_alignment="left">
            </div>

        </div>
        <div *ngIf="invalid_email() == 'true'" style="color:rgb(218, 45, 45)">
            Invalid Email! Please sign in with your UMass email.
        </div>
    </mat-card>
</div>